# Python Programming Language

<img src="">

### Why Python?
- Data analysis and forecasting tools
- Artificial intelligence
- Web apps
- Video games
- Audio/video apps
- Mobile apps
- Networking apps
- Scientific/mathematical apps
- Security utilities
- Educational apps

### Some Examples
- Instagram
- Spotify
- Dropbox
- PyCharm
- Django
- Blender
- ERP5

# History of Python

### Created by Guido van Rossum in the late 1980s. 
- Goals
    1. Easy to read
    2. Require minimal lines of code as compared to other languages

- Early versions released over the next few years
- Version 1.0 not released until January of 1994

### Python 2
- First major update to Python
- Released in October 2000
- Garbage collection, augmented assignment, list comprehension, Unicode strings, etc.
- As of April 2020, most recent version of Python 2 is 2.7.18
- Superseded by Python 3 but remains in use by some developers

### Python 3 
- Most recent major version
- Up to version 3.9.0 as of late 2020

# Interpresters and Compilers

### Compiler

- Translates source code into code that can run on the computer.
- Translates code in advance, compiling it into a ready-to-run executable file.

* Benefits:
    1. Tends to run faster than interpreter
    2. Reveals major errors to the programmer when program is compiled

### Interpreter

- Translates source code into code that can run on the computer.
- Translates code just-in-time, interpreting the source code into executable code as the program runs.

* Benefits:
    1. Generally easier to use than compiler
    2. Deliverable is more “portable”
    3. More convenient to perform quick updates

# Hello World in Python

In [1]:
print("Hello, World!")

Hello, World!

# 1. Variables in python

In [2]:
# In Python, variables are created when you assign a value to it:
x = 5
y = "Hello, World"
print(x)
print(y)

# Variables do not need to be declared with any particular type, and can even change type after they have been set.
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

5
Hello, World
Sally

### Case-Sensitive

In [3]:
a = 4
print(A)

NameError: name 'A' is not defined

### Variable Names in Python

- A variable name must start with a letter or the underscore character
- A variable name cannot start with a number
- A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
- Variable names are case-sensitive (age, Age and AGE are three different variables)

In [ ]:
# examples:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

### One Value to Multiple Variables

In [26]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

### Many Values to Multiple Variables in Python

In [27]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

# Python Keywords

### Python has a set of keywords that are reserved words that cannot be used as variable names, function names, or any other identifiers

In [61]:
import keyword

print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

## 2. Data types in python 

varibles could be assign to different data types to help us organize data efficiently, this organization ensures that data is stored and manipulated in ways that are logical and approprite for the specific type of data.

furthermore data types determine how much memory is allocated for storing different kinds of data.

# 2.1 Numeric Types

In [5]:
# integer, is a whole number without decimals

a = 7
print(type(a))

#float is a number containing one or more decimal 

b = 1.3
print(type(b))


#complex numbers with real and imaginary part

c = 4+9j
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

# Operation with numbers

### Arthmetic Operators

In [7]:
#Addition

x = 1 + 1
print(f'x = {x}')

#Subtraction
y = 15 - 12
print(f'y = {y}')

#Multiplication
z = x * y
print(f'z = {z}')

#Division
w = z / x
print(f'w = {w}')

#Modulus
s = w % y
print(f's = {s}')

#Exponentiation
p = x ** 2
print(f'p = {p}')

x = 2
y = 3
z = 6
w = 3.0
s = 0.0
p = 4

### Assignment Operators

In [11]:
# in python you can assign and Increment by any Arthmetic Operator in the same line
a = 0
a += 1
print('a = ', a)

b = 2
b *= 2
print('b = ', b)

a =  1
b =  4

# 2.2 Boolean Data type

In [14]:
right = True 

print(type(right))

wrong = False

print(type(wrong))

<class 'bool'>
<class 'bool'>

### Comparison Operators

In [7]:
# Comparison Operation always return a boolean data 
print(x == 10)
print(x != 1)
print(x >= 10)
print(x <= 10)
print(x > 10)
print(x < 10)

True
True
True
True
False
False

### Logical Operators

In [22]:
# Logical Operation always return a boolean data 


print('AND Operator  Returns True if both statements are true :-')
print(True and True)
print(True and False)
print(False and True)
print(False and False)

print('\nOR Operator Returns True if one of the statements is true :-')
print(True or True)
print(True or False)
print(False or True)
print(False or False)


print('\nNot Reverse the result, returns False if the result is true :-')
print(not True)
print(not False)

AND Operator  Returns True if both statements are true :-
True
False
False
False

OR Operator Returns True if one of the statements is true :-
True
True
True
False

Not Reverse the result, returns False if the result is true :-
False
True

### Identity Operators

In [25]:
# is Returns True if both variables are the same object	

x = y = 2 
a, b = 2, 3

print(x is y)
print(a is b)

# is not Returns True if both variables are not the same object

print(x is not y)
print(a is not b)

True
False
False
True

# 2.3 Text Type:

In [32]:
# string 

s = 'Hello World'
y = '66661111'

print(s)
print(type(y))

Hello World
<class 'str'>

# Strings Operators

### String Concatenation

In [27]:
s = 'Hello' + ' ' + 'World'
print(s)

s = 'Hello' * 3
print(s)

print('-' * 50)

Hello World
HelloHelloHello
--------------------------------------------------

### Slicing in the Strings

In [33]:
x = 'Hamad'
print(x[1:2]) # String Slicing [start : end]
print(x[:2]) # String Slicing [start : end]

a
Ha

### Membership in the Strings

In [31]:
# in Returns True if a sequence with the specified value is present in the object
print('s' in 'start')
# not Returns True if a sequence with the specified value is not present in the object
print('x' not in 'y')

True
True

### Strings formating

In [35]:
x = 'Hamad'
s = f'Hello, my name is {x}'
print(s)

Hello, my name is Hamad

In [39]:
s = 'There are {} people names {} just {}'.format(2, 'Hamad', 'hello')
print(s)

s = 'There are {1} people names {0}'.format(2, 'Hamad')
print(s)

There are 2 people names Hamad just hello
There are Hamad people names 2

### New Line in the string

In [45]:
s = "Hello, my name is Hamad.\nPython is great!!"

print(s)

Hello, my name is Hamad.
Python is great!!

### Escape Code

In [47]:
s = "Hello, my name is Hamad" \
" Today i will teach you Python!!"

print(s)

Hello, my name is Hamad Today i will teach you Python!!

In [49]:
x = 10 + 10 + 10 \
+ 10 + 10

print(x)

50

### Comments in Python

In [50]:
# Single Comment

'''
Multiple
Lines
Comment
'''

"""
Also
Multiple
Lines
Comment
"""

'\nAlso\nMultiple\nLines\nComment\n'

# Input Function

In [51]:
inpt = input("Enter your name: ")
print(inpt)

Enter your name: Hamad
Hamad

# Check the data type

In [52]:
print('The data type of 1 is', type(1))
print('The data type of 1.5 is', type(1.5))
print('The data type of True is', type(True))
print('The data type of Tuwaiq is', type('Tuwaiq'))

The data type of 1 is <class 'int'>
The data type of 1.5 is <class 'float'>
The data type of True is <class 'bool'>
The data type of Tuwaiq is <class 'str'>

# 2.4 Sequence Data Type

## 2.4.1 Lists

Collection of variables, no matter what are the data types of these variables.

can be written like this :-

```Python
my_list1 = [1, 2, 3, 4]
my_list2 = ['a', 'b', 'c']
my_list3 = [1, 'a', True, 2.6]
```

Properties of lists :-
1. You can add new elements.
2. You can delete all or some elements.
3. You can Change values of elements.
4. Allow duplicates.
5. Ordered.

# Operation with list

In [43]:
# access an ittem 
x = ["apple", "banana", "cherry"] 
print(x[0])

# slice 
# [starts : ends]

print(x[2:])

# change an item 
x = ["apple", "banana", "cherry"] 
x[0] = 'orange'
print(x)

apple
['cherry']
['orange', 'banana', 'cherry']

### exercise: check the methods for adding an item in a list and compare between append() and insert()

### exercise: check the methods for removing an item in a list and compare between Remove() and pop()

## 2.4.2 Tuples

Collection of variables, no matter what are the data types of these variables.

can be written like this :-

```python
my_tuple1 = (1, 2, 3, 4)
my_tuple2 = ('a', 'b', 'c')
my_tuple3 = ('Hello', 10, False, 33.3)
```

Properties of tuples :-
1. You can "NOT" add new elements.
2. You can "NOT" delete all or some elements.
3. You can "NOT" Change values of elements.
4. Allow duplicates.
5. Ordered.

In [44]:
# define a Tuple

my_tuple1 = (1, 2, 3, 4)
my_tuple2 = ('a', 'b', 'c')
my_tuple3 = (1, 'a', True, 2.6)

print(my_tuple1)
print(my_tuple2)
print(my_tuple3)

(1, 2, 3, 4)
('a', 'b', 'c')
(1, 'a', True, 2.6)

### exercise: check the previos methods with tuble (accessing, adding, removing)

# 2.4.3 Range()

Range generates a sequence of numbers.

By default, the sequence starts at 0, increments by 1, and stops before the specified number.

In [47]:
# range(start = 0 (defult) , stop = num, step = 1 (defult))

myRange = range(6)
print(type(myRange))

<class 'range'> range(0, 6)

# 2.5 Sets Data Type

Collection of variables, no matter what are the data types of these variables.

can be written like this :-

```python
my_tuple1 = {1, 2, 3, 4}
my_tuple2 = {'a', 'b', 'c'}
my_tuple3 = {'Hello', 10, False, 33.3}
```

Properties of sets :-
1. You can "NOT" add new elements.
2. You can "NOT" delete all or some elements.
3. You can "NOT" Change values of elements.
4. Not allow to add duplicates.
5. Unordered.
6. Unindexed.

In [48]:
# define a set
my_set1 = {1, 2, 3, 4}
my_set2 = {'a', 'b', 'c'}
my_set3 = {'Hello', 10, False, 33.3}

print(my_set1)
print(my_set2)
print(my_set3)

{1, 2, 3, 4}
{'a', 'c', 'b'}
{False, 33.3, 10, 'Hello'}

#### No duplicated elements

In [49]:
my_set = {1, 5, 2}
print(my_set)

my_set.add(4)
print(my_set)

my_set.add(4)
print(my_set)

{1, 2, 5}
{1, 2, 4, 5}
{1, 2, 4, 5}

#### Ordering automatically

In [50]:
my_set = {1, 3, 2}
print(my_set)

{1, 2, 3}

# 2.6 mapping data type

## Dictionaries

Collection of variables, no matter what are the data types of these variables.

Dictionaries are used to store data values in key:value pairs

Dictionaries can be written like this :-

```python
my_dict = {
    'names':['Hamad', 'Razan', 'Saleh'],
    'ids':[111, 222, 333]
}
```

Properties of sets :-
1. No duplicate in the keys just.
2. You can add new elements.
3. You can delete all or some elements.
4. You can Change values of elements.
5. Ordered.

#### Define dictionary

In [51]:
dict1 = {
  "Name": "Sara",
  "B.O.D": [1995, 20],
  "Age": 26 
}

print(dict1)
print(len(dict1))

{'Name': 'Sara', 'B.O.D': [1995, 20], 'Age': 26}
3

#### No duplication on keys

In [52]:
dict1 = {
  "Name": "Sara",
  "B.O.D": 1995,
  "Age": 26,
  "Age": 56
}

print(dict1)

{'Name': 'Sara', 'B.O.D': 1995, 'Age': 56}

#### You can change the value of an element

In [53]:
# Changeable
dict1["Blood Type"] = "B"
print(dict1)

{'Name': 'Sara', 'B.O.D': 1995, 'Age': 56, 'Blood Type': 'B'}

#### Accessing items in dictionaries

In [54]:
# Accessing Items
x = dict1["Name"]
print(x)

x = dict1.get("Name")
print(x)

Sara
Sara

#### Collection of values

In [55]:
print(dict1.values())

dict_values(['Sara', 1995, 56, 'B'])

#### Collection of keys

In [56]:
print(dict1.keys())

dict_keys(['Name', 'B.O.D', 'Age', 'Blood Type'])

#### Collection of items (both keys and values)

In [57]:
print(dict1.items())

dict_items([('Name', 'Sara'), ('B.O.D', 1995), ('Age', 56), ('Blood Type', 'B')])

#### You can change values even after using values() method

In [58]:
x = dict1.values()
print(x) #before the change

dict1["B.O.D"] = 1994
print(x) #after the change

dict_values(['Sara', 1995, 56, 'B'])
dict_values(['Sara', 1994, 56, 'B'])

#### update, pop and remove

In [59]:
dict1.update({"Name": "Reem"})
print(dict1)

dict1.pop("Blood Type")
print(dict1)

dict1.popitem()
print(dict1)

{'Name': 'Reem', 'B.O.D': 1994, 'Age': 56, 'Blood Type': 'B'}
{'Name': 'Reem', 'B.O.D': 1994, 'Age': 56}
{'Name': 'Reem', 'B.O.D': 1994}

# there are 4 built-in data types in Python used to store collections of data 

### summery

<img src=https://miro.medium.com/v2/resize:fit:1134/1*WMiNIQ9THariDSJw47uU1w.png >

# 3. Type Conversion

In [56]:
num_int = 123
num_flo = 1.23

num_new = num_int + num_flo

print("Value of num_new:",num_new)
print("datatype of num_new:",type(num_new))

Value of num_new: 124.23
datatype of num_new: <class 'float'>

# Casting

In [57]:
# If you want to specify the data type of a variable, this can be done with casting.
x = str(3)    # x will be '3'
y = int(3.9)    # y will be 3
z = float(3)  # z will be 3.0

In [58]:
print(type(x), x)
print(type(y), y)
print(type(z), z)

<class 'str'> 3
<class 'int'> 3
<class 'float'> 3.0

### Task: edit immutable using casting trick

# Errors

### Syntax Error

In [66]:
s = 'hamad

SyntaxError: EOL while scanning string literal (3003027488.py, line 1)

In [67]:
count = 1

if count < 1 or count > 10
    print('Sorry')
else:
    print('Thank you')

SyntaxError: invalid syntax (2001812892.py, line 3)

### Logic Error

In [68]:
fav_number = input("What is your favorite number?")
fav_color = input("What is your favorite number?")

print(fav_number)
print(fav_color)

green
10

# Additional Resources:

- Python’s standard documentation, https://docs.python.org/3/tutorial/index.html
- Introducing Python, https://learning.oreilly.com/library/view/introducing-python-2nd/9781492051374/
- Fluent Python, https://learning.oreilly.com/library/view/fluent-python-2nd/9781492056348/
- https://www.w3schools.com/python/